.notfound {
	height: 100%;
  background-image: url('./images/astronauta.jpg'), url('./images/stars404.png');
  background-position: right top, center center;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
	.wrapper {
	  position: absolute;
	  top: 60%;
	  right: 2%;
	  color: #fff;
	  width: 635px;
	  font-size: 19px;
	  line-height: 29px;
	  -webkit-font-smoothing: antialiased;
	  padding: 20px;
	  font-family: 'Source Sans Pro', sans-serif;
		.big {
		  font-size: 74px;
		  font-weight: 700;
		  line-height: 68px;
		  margin-bottom: 48px;
		}
		a {
		  color: #ffcc00;
		  text-decoration: none;
		  font-weight: 700;
		}
	}
}
